<%= render partial: 'tracks/quick_form', locals: { track: @track } %>
<p></p>
<% @tracks.each do |track| %>
    <div class="panel panel-white post panel-shadow">
        <div class="post-description">             
            <%= image_tag track.thumbnail, style: 'height:125px;width:auto;float:left;padding:0 15px;' unless track.thumbnail.nil? %>
            <h4><%= link_to track.title, track.url %></h4>
            <p><%= track.description %></p>
            <br clear="left"/>
        </div>
        <div class="post-heading">
            <div class="pull-left image">                
                <%= image_tag track.posted_by.avatar_url, class: "img-circle avatar", alt: "user profile image"%>
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    Posted by <%= track.posted_by.name %>
                </div>
                <h6 class="text-muted time"><%= time_ago_in_words(track.created_at) %> ago</h6>
            </div>
            <div class="stats pull-right">
                <% if track.track_likes.where(user_id: @current_user.id).count > 0 %>
                    <%= link_to "/tracks/#{track.id}/likes/#{track.track_likes.first.id}", method: :delete, class: "btn btn-default stat-item redheart" do %>
                        <%= content_tag(:i, nil, class: ["fa fa-heart icon"]) %>
                        <%= track.track_likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to track_likes_path(track), method: :post, class: "btn btn-default stat-item " do %>
                        <%= content_tag(:i, nil, class: ["fa fa-heart icon"]) %>
                        <%= track.track_likes.count %>
                    <% end %>
                <% end %>
                <!--  
                <a href="#" class="btn btn-default stat-item">
                    <i class="fa fa-comment icon"></i>12
                </a>
                -->
                <% if track.posted_by.id == @current_user.id %>
                    <%= link_to edit_track_path(track), class: "btn btn-default " do %>
                        <%= content_tag(:i, nil, class: ["fa fa-pencil icon"]) %>
                    <% end %>
                    <%= link_to track_path(track), :method => :delete, data: { confirm: "Are you ABSOLUTELY sure you want to delete this track (and comments)?" }, :class => 'btn btn-default ' do %>
                        <%= content_tag(:i, nil, class: ["fa fa-bomb icon"]) %>
                    <% end %>
                <% end %>
            </div>
        </div> 
    </div>
<% end %>
