<%= render partial: 'tracks/quick_form', locals: { track: @track } %>
<p></p>
<% @tracks.each do |track| %>
    <div class="panel panel-white post panel-shadow">
        <div class="post-description">          
            <%= link_to track.url, target: :_blank do %>
                <%= image_tag(track.thumbnail, style: 'height:125px;width:auto;float:left;padding:0 15px;', alt: "image") unless track.thumbnail.nil? %>     
            <% end %>              
            <h4><%= link_to track.title, track.url, target: :_blank %></h4>
            <p><%= track.description %></p>
            <br clear="left"/>
        </div>
        <div class="post-heading">
            <div class="pull-left image">                
                <%= image_tag track.posted_by.avatar_url, class: "img-circle avatar", alt: "user profile image"%>
            </div>
            <div class="pull-left meta">
                <div class="title h5">
                    Posted by <%= track.posted_by.name %>
                </div>
                <h6 class="text-muted time"><%= time_ago_in_words(track.created_at) %> ago</h6>
            </div>
            <div class="stats pull-right">        
                <span class="btn btn-default stat-item">
                    <% if current_user.voted_up_on? track %>
                        <%= link_to " ", unlike_track_path(track), class: 'vote fa fa-heart icon', method: :put, remote: true, data: { toggle_text: " ", toggle_href: like_track_path(track), id: track.id } %>
                    <% else %>
                        <%= link_to " ", like_track_path(track), class: 'vote fa fa-heart icon', method: :put, remote: true, data: { toggle_text: " ", toggle_href: unlike_track_path(track), id: track.id } %>
                    <% end %>
                    <span class='votes-count' data-id='<%= track.id %>'><%= track.get_likes.size %></span>
                </span>            
                <% if track.posted_by.id == @current_user.id %>
                    <%= link_to edit_track_path(track), class: "btn btn-default " do %>
                        <%= content_tag(:i, nil, class: ["fa fa-pencil icon"]) %>
                    <% end %>
                    <%= link_to track_path(track), :method => :delete, data: { confirm: "Are you ABSOLUTELY sure you want to delete this track (and comments)?" }, :class => 'btn btn-default ' do %>
                        <%= content_tag(:i, nil, class: ["fa fa-bomb icon"]) %>
                    <% end %>
                <% end %>
            </div>
        </div> 
    </div>
<% end %>

    