<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', default: 'Sign up') %></h4>
    Hey!  Welcome to recordpool!
    This is where you sign up.  Please enter your name, email and a password below.
    If someone gave you a signup link, keep the invite code that is supplied.  
    If you are wanting to create your own team, remove the invite code and supply the name of the team you want to create.
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      
      <div class="form-group">
        <%= f.label "Your Name" %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :phone_number %>  <i>(For sending in favorite tracks via SMS)</i>
        <%= f.text_field :phone_number, autofocus: true, class: 'form-control' %>
        <span>
        <em>Why are we asking for your phone number?</em><br/>
        This is completely optional.  But if you do supply your number, you can text links to us and we'll be able to post the link
        under your name! 
        To use from your mobile device, simply "Share" the link as an SMS/text message and send it to <code>(224) 504-1267</code>.
        Messaging and data rates may apply.<br/>
        HINT: Add this number to your contacts list for easy reference.
        <br/><br/>
        </span>
      </div>      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>      
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <% if @user.invite_code.nil? %>
          <label class="btn btn-secondary ">
            <input type="radio" name="teamjoinoptions" id="opt-join" autocomplete="off" onchange="showInviteCode(false)">  Join a Team
          </label>
          <label class="btn btn-secondary active">
            <input type="radio" name="teamjoinoptions" id="opt-new" autocomplete="off" onchange="showInviteCode(true)" checked > Create a new Team
          </label>
        <% else %>
          <label class="btn btn-secondary active">
            <input type="radio" name="teamjoinoptions" id="opt-join" autocomplete="off" onchange="showInviteCode(false)" checked>  Join a Team
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="teamjoinoptions" id="opt-new" autocomplete="off" onchange="showInviteCode(true)"> Create a new Team
          </label>
        <% end %>
      </div>
      <div class="form-group">
        <span id="fld_new_team" style="<%= @user.invite_code.nil? ? "display:block;" : "display:none;" %>">
          <%= f.label "Create a NEW team" %>
          <%= f.text_field :team_name, class: 'form-control', placeholder: "Enter team name to create your own team" %>
        </span>        
        <span id="fld_join_team" style="<%= @user.invite_code.nil? ? "display:none;" : "display:block;" %>">
          <%= f.label :invite_code %>
          <%= f.text_field :invite_code, class: 'form-control', placeholder: "Provide invite code to join team" %>
        </span>        
      </div>
      <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %> &nbsp;
      <%= render 'devise/shared/links' %>
    <% end %>
  </div>
</div>
<br/>
<div class="panel panel-default">
  <div class="panel-heading">
    <p></p>
    <%= image_tag '/assets/mp2016afp.jpg', class: 'logoimage', style: "max-width:100%; max-height:100%;" %>
    <p></p>
  </div>
</div>
